aiohttp==3.9.1
aiosignal==1.3.1
annotated-types==0.6.0
anyio==3.7.1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.0
async-timeout==4.0.3
attrs==21.2.0
Automat==20.2.0
azure-core==1.29.7
azure-identity==1.15.0
Babel==2.9.1
bcrypt==4.0.1
blinker==1.4
certifi==2023.11.17
cffi==1.16.0
chardet==4.0.0
charset-normalizer==3.3.2
click==8.1.7
cloud-init==23.2.1
colorama==0.4.4
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
cryptography==41.0.7
dbus-python==1.2.18
Deprecated==1.2.14
distro==1.7.0
distro-info==1.1+ubuntu0.1
dnspython==2.4.2
ecdsa==0.18.0
exceptiongroup==1.2.0
fastapi==0.103.1
frozenlist==1.4.1
gyp==0.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.2
httplib2==0.20.2
httpx==0.26.0
hyperframe==6.0.1
hyperlink==21.0.0
idna==3.6
importlib-metadata==6.11.0
incremental==21.3.0
jeepney==0.7.1
Jinja2==3.0.3
jsonpatch==1.32
jsonpointer==2.0
jsonschema==3.2.0
keyring==23.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
MarkupSafe==2.0.1
microsoft-kiota-abstractions==1.0.0
microsoft-kiota-authentication-azure==1.0.0
microsoft-kiota-http==1.2.0
microsoft-kiota-serialization-json==1.0.1
microsoft-kiota-serialization-text==1.0.0
more-itertools==8.10.0
msal==1.26.0
msal-extensions==1.1.0
msgraph-core==1.0.0a4
msgraph-sdk==1.0.0
multidict==6.0.4
netifaces==0.11.0
oauthlib==3.2.0
opentelemetry-api==1.22.0
opentelemetry-sdk==1.22.0
opentelemetry-semantic-conventions==0.43b0
packaging==23.2
pendulum==3.0.0
pexpect==4.8.0
portalocker==2.8.2
ptyprocess==0.7.0
pyasn1==0.5.1
pyasn1-modules==0.2.1
pycparser==2.21
pydantic==2.3.0
pydantic_core==2.6.3
PyGObject==3.42.1
PyHamcrest==2.0.2
PyJWT==2.8.0
pymongo==4.6.1
pyOpenSSL==23.3.0
pyparsing==2.4.7
pyrsistent==0.18.1
pyserial==3.5
python-apt==2.4.0+ubuntu2
python-dateutil==2.8.2
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.0.0
python-jose==3.3.0
python-magic==0.4.24
python-multipart==0.0.6
pytz==2022.1
PyYAML==5.4.1
requests==2.31.0
rsa==4.9
SecretStorage==3.3.1
service-identity==18.1.0
six==1.16.0
sniffio==1.3.0
sos==4.4
ssh-import-id==5.11
starlette==0.27.0
std-uritemplate==0.0.50
systemd-python==234
time-machine==2.13.0
Twisted==22.1.0
typing_extensions==4.9.0
tzdata==2023.4
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufw==0.36.1
unattended-upgrades==0.1
urllib3==2.1.0
uvicorn==0.23.2
wadllib==1.3.6
wrapt==1.16.0
wsproto==1.0.0
xkit==0.0.0
yarl==1.9.4
zipp==1.0.0
zope.interface==5.4.0
