---
import '../base.css'
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.svelte'
import Navbar from '../components/navbar.svelte'
import Licence from '../components/parent_licenses.svelte'
import Payment from '../components/parent_payments.svelte'
import Footer from '../components/footer.svelte'
---

<Layout  title="Studently">
<div class="flex ">
	<Header client:visible/>
	<Navbar></Navbar>
	
	<div>

		<div class="flex flex-1 justify-center items-center">
			<Licence/>
		</div>

		<div class="flex flex-1 justify-center items-center">
			<Payment/>
		</div>

	</div>
</div>
	<Footer></Footer>

	
</Layout>

